In [1]:
import mysql.connector
import base64

In [2]:
def image_to_base64(image_path):
    with open(image_path, "rb") as image_file:
        encoded_string = base64.b64encode(image_file.read()).decode('utf-8')
    return encoded_string

In [3]:
db = mysql.connector.connect(
    host='siam.cr8wqequ6ieo.ap-southeast-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='1234567890',
    database='siam'
)

In [4]:
cursor = db.cursor()
sql = '''
    INSERT INTO siam.app_classroom_student (room,date,image)
    VALUES (%s, %s, %s)
'''

In [5]:
# room  = '1'
# date  = '2024-08-01 11:46:47'
# image = image_to_base64(r"K:\My Drive\Siam\Video_2_image_and_database\Source_video_from_siam\00000003034000000\114647.png")

In [6]:
# values = (room, date, image)

# cursor.execute(sql, values)

# db.commit()

# cursor.close()
# db.close()
# print("done!")

In [7]:
room = '1'
date_date = "2024-08-02"

In [11]:
import os

In [12]:
db = mysql.connector.connect(
    host='siam.cr8wqequ6ieo.ap-southeast-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='1234567890',
    database='siam'
)
cursor = db.cursor()
sql = '''
    INSERT INTO siam.app_classroom_student (room,date,image)
    VALUES (%s, %s, %s)
'''
folder_image_path = r"K:\My Drive\Siam\Video_2_image_and_database\Source_video_from_siam\2"
for image in os.listdir(folder_image_path):
    if image[-3:] == "png":
        image_date = image[:-4]
        # print(image_date)
        time_date = f"{image_date[0:2]}:{image_date[2:4]}:{image_date[4:6]}"
        date = f"{date_date} {time_date}"
        image_path = os.path.join(folder_image_path,image)
        image = image_to_base64(image_path)

        values = (room, date, image)
        cursor.execute(sql, values)
        db.commit()
cursor.close()
db.close()
print("done!")

In [ ]:
db = mysql.connector.connect(
    host='siam.cr8wqequ6ieo.ap-southeast-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='1234567890',
    database='siam'
)
cursor = db.cursor()
sql = '''
    INSERT INTO siam.app_classroom_student (room,date,image)
    VALUES (%s, %s, %s)
'''
folder_image_path = r"K:\My Drive\Siam\Video_2_image_and_database\Source_video_from_siam\3"
for image in os.listdir(folder_image_path):
    if image[-3:] == "png":
        image_date = image[:-4]
        # print(image_date)
        time_date = f"{image_date[0:2]}:{image_date[2:4]}:{image_date[4:6]}"
        date = f"{date_date} {time_date}"
        image_path = os.path.join(folder_image_path,image)
        image = image_to_base64(image_path)

        values = (room, date, image)
        cursor.execute(sql, values)
        db.commit()
cursor.close()
db.close()
print("done!")

In [ ]:
db = mysql.connector.connect(
    host='siam.cr8wqequ6ieo.ap-southeast-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='1234567890',
    database='siam'
)
cursor = db.cursor()
sql = '''
    INSERT INTO siam.app_classroom_student (room,date,image)
    VALUES (%s, %s, %s)
'''
folder_image_path = r"K:\My Drive\Siam\Video_2_image_and_database\Source_video_from_siam\4"
for image in os.listdir(folder_image_path):
    if image[-3:] == "png":
        image_date = image[:-4]
        # print(image_date)
        time_date = f"{image_date[0:2]}:{image_date[2:4]}:{image_date[4:6]}"
        date = f"{date_date} {time_date}"
        image_path = os.path.join(folder_image_path,image)
        image = image_to_base64(image_path)

        values = (room, date, image)
        cursor.execute(sql, values)
        db.commit()
cursor.close()
db.close()
print("done!")

In [ ]:
db = mysql.connector.connect(
    host='siam.cr8wqequ6ieo.ap-southeast-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='1234567890',
    database='siam'
)
cursor = db.cursor()
sql = '''
    INSERT INTO siam.app_classroom_student (room,date,image)
    VALUES (%s, %s, %s)
'''
folder_image_path = r"K:\My Drive\Siam\Video_2_image_and_database\Source_video_from_siam\5"
for image in os.listdir(folder_image_path):
    if image[-3:] == "png":
        image_date = image[:-4]
        # print(image_date)
        time_date = f"{image_date[0:2]}:{image_date[2:4]}:{image_date[4:6]}"
        date = f"{date_date} {time_date}"
        image_path = os.path.join(folder_image_path,image)
        image = image_to_base64(image_path)

        values = (room, date, image)
        cursor.execute(sql, values)
        db.commit()
cursor.close()
db.close()
print("done!")

In [ ]:
db = mysql.connector.connect(
    host='siam.cr8wqequ6ieo.ap-southeast-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='1234567890',
    database='siam'
)
cursor = db.cursor()
sql = '''
    INSERT INTO siam.app_classroom_student (room,date,image)
    VALUES (%s, %s, %s)
'''
folder_image_path = r"K:\My Drive\Siam\Video_2_image_and_database\Source_video_from_siam\6"
for image in os.listdir(folder_image_path):
    if image[-3:] == "png":
        image_date = image[:-4]
        # print(image_date)
        time_date = f"{image_date[0:2]}:{image_date[2:4]}:{image_date[4:6]}"
        date = f"{date_date} {time_date}"
        image_path = os.path.join(folder_image_path,image)
        image = image_to_base64(image_path)

        values = (room, date, image)
        cursor.execute(sql, values)
        db.commit()
cursor.close()
db.close()
print("done!")